<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Services>
    <Service Server="OsService" Name="HomeWebHttpTest" Url="api/Test/WebHttp" Method="Post" IsRelative="true"/>
    <Service Server="OsService" Name="HomeWebHttpTest2" Url="api/values/5" Method="Get" IsRelative="true"/>
    <Service Server="OsService" Name="HomeWebHttpLogin" Url="api/Test/Login" Method="Post" IsRelative="true"/>
  </Services>
</Config>

